---
const currentYear = new Date().getFullYear();
---

<footer class="p-4 bg-slate-900 md:p-8 lg:p-10 border-t border-gray-800">
    <div class="mx-auto max-w-screen-xl text-center">
        <a
            href="#"
            class="flex justify-center items-center text-2xl font-semibold text-white"
        >
            <span class="text-blue-500 mr-2">●</span>DevSecOps
        </a>
        <p class="my-6 text-gray-400">
            Professional consulting for secure cloud infrastructure and
            automated delivery pipelines.
        </p>
        <ul class="flex flex-wrap justify-center items-center mb-6 text-white">
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">About</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Services</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Blog</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Contact</a>
            </li>
        </ul>
        <span class="text-sm text-gray-400 sm:text-center"
            >© {currentYear}
            <a href="#" class="hover:underline">DevSecOps™</a>. All Rights
            Reserved.</span
        >
    </div>
</footer>
